# SQL

1. [SQL Intro](#intro) 
    * [SQL Syntax](#syntax)
    * [Basic SQL Commands](#basic)
    * [DISTINCT and LIMIT](#dis-lim)
    
   
2. [Filtering, Functions, Subqueries](#ffs)
    * [The WHERE Statement](#where)
    * [The HAVING Clause](#having)
    * [IN, NOT IN Statements](#in-not)
    * [The CASE Statement](#case)
    * [Custom Columns](#cust)
    * [Functions](#func)
    * [Subqueries](#subq)
    * [LIKE and MIN](#like-min)


3. [Table operations](#join) 
    * [Creating a Table](#create)
    * [NOT NULL and AUTO_INCREMENT](#null)
    * [The Insert Statement](#insert)
    * [UPDATE and DELETE](#upd-del)
    * [Alter, Drop, Rename](#alt-drop)
    * [Joining Tables](#join2)
    * [Types of Joins](#types)
    * [Self Joins](#self)
    * [UNION](#union)
    * [Views](#views)


4. [Query Planning and Optimization](#query)
    * [How SQL Finds Data](#how)
    * [The Lifecycle of a SQL Query](#steps)
    * [Query Tuning](#tune)
    * [Transactions and the ACID Principles](#acid)


[Notebook Import Code](#code)

## SQL Intro <a class="anchor" id="intro"></a>

* Structured Query Language
* Used to access and manipulate a database
    * Insert, update, or delete records
    * Create new databases, tables, stored procedures, views
    * Retrieve data from a database
* __Primary Key__ - field in the table that uniquely identifies the table records
    * Must contain a unique value
    * Cannot contain a null value
    * Typically 'id' or something of the like
    * ONE PK per table
* __Transaction__ - A SQL Suery that changes the database in some way (Update/Del/Insert/Create)

### SQL Syntax <a class="anchor" id="syntax"></a>

* SQL allows multiple queries or commands at the same time  
    * `SELECT <column_name> from <table_name>;` repeated for seperate columns will pull any requested information into  separate result-sets  
    * `SELECT <column_name, column_name,... > FROM <table_name>` will pull them into a single table
* `SELECT * `= Select all
* Each query MUST END WITH A SEMICOLON 
* SQL is __case insensitive__
* Whitespace is ignored, but conventionally avoided

### Basic SQL Commands <a class="anchor" id="basic"></a>

* SHOW - displays information contained in the database and its tables 
    * allows you to keep track of db contents and structure
    * `SHOW DATABASES` will list the databases managed by a server
    * `SHOW TABLES` displays all tables in the currently selected DB
    * `SHOW COLUMNS FROM <table_name>` displays informations about all columns in a given table, their types, whether or not it's indexed, the default value, and 'Extra'
* SELECT - used to select data from a database. Result is stored in a result table called the __result-set__.
    * a __query__ may retrieve information from selected columns or from all columns in the table
    * `SELECT <column_list> FROM <table_name>` - column_list includes one or more columns from which data is retrieved

### DISTINCT and LIMIT <a class="anchor" id="dis-lim"></a>

* DISTINCT keyword is used with SELECT to elmiinate all duplicate records and return only unique ones
    * `SELECT DISTINCT <column_name> FROM <table_name>;`
* LIMIT keyword will confine the number of records retrieved by a query
    * `SELECT <column_list> FROM <table_name> LIMIT <number_of_records>;`
    * `SELECT ID, FirstName, LastName, City, FROM customers LIMIT 5;` returns the requested columns of the first 5 records from the customers table
* LIMIT can be modified with OFFSET
   * `SELECT ID, FirstName, LastName, City From customers OFFSET 3 LIMIT 4;` returns the 4-7 records from the table
   * `SELECT ID, FirstName, LastName, City FROM customers LIMIT 3, 4;` is equivalent

### Sorting Results<a class="anchor" id="sort"></a>

* __Fully Qualified Names__ - table_name.column_name
    * ie: customers.City 
* ORDER BY - sorts returned data from SELECT
    * `SELECT * FROM customers ORDER BY FirstName;` returns results sorted ascending by FirstName
    * Can sort by multiple columns: `SELECT * FROM customers ORDER BY LastName, Age;` returns the table sorted alphabetically by last name and then by age
    * Use `DESC` to use descending order: ` ORDER By LastName DESC;`
* GROUP BY - groups items by the given column name
    * ` SELECT SUM(quantity) FROM groceries GROUP BY aisle;`

## Filtering, Functions, Subqueries <a class="anchor" id="ffs"></a>

### The WHERE Statement <a class="anchor" id="where"></a>

* Used to extract only those records that fulfill a specified criterion
    * `SELECT <column_list> FROM <table_name> WHERE condition;`
* Conditions use __comparison__ and __logical operators__
    *  =, !=, >, <, <=, >=, 
    * BETWEEN - an inclusive range
        * `SELECT <column_list> FROM <table_name> WHERE <column_name> BETWEEN value1 AND value2;` 
        * To use strings in conditional, use single quotes: `SELECT <column_list> FROM <table_name> WHERE City = 'New York';`
            * if apostrophe, escape with two single quotes: 'Can''t'
    * And/OR can be combined in a statement using parentheses
        * `SELECT * FROM customers WHERE City = 'New York' AND (Age=30 OR Age=35);`

### The HAVING Clause <a class="anchor" id="having"></a>

* Used in place of WHERE when looking at aggregate functions
    * ` SELECT COUNT(CustomerID), Country
    FROM Customers
    GROUP BY Country
    HAVING COUNT(CustomerID) > 5;`
    * Returns the number of custoemrs in a country IF the total number is greater than 5

### IN, NOT IN Statements <a class="anchor" id="in-not"></a>

* __IN__ can replace multiple OR conditions      
    `SELECT * FROM customers WHERE City IN ('New York', 'Los Angeles')` is equivalent to `SELECT * FROM customers WHERE (City = 'New York') OR (City = 'Los Angeles')`
* __NOT IN__ - Works the same way but excludes values

### The CASE Statement <a class="anchor" id="case"></a>

* Goes through conditions and returns a value when the first condition is met
    * Once a condition is true, it will stop reading and return the result
    * Contains an else statement
    * If no conditions are true and no ELSE statement is provided, returns NULL  
    * In the snippet below, the CASE statement essentially creates a new column, which can then be used in GROUP/ORDER BY for viewing.   
`SELECT column_name, 
    CASE
        WHEN condition1 THEN result1
        WHEN condition 2 THEN result2
        ...
        ELSE result
    END AS "new_col_name";
FROM table_name
GROUP BY col_name
ORDER BY col_name`

### Custom Columns <a class="anchor" id="cust"></a>

* CONCAT - concatenates two or more text values and returns the completed string
    * `SELECT CONCAT(FirstName, ', ', City) FROM customers;` returns FirstName, City for each record in the table as a new column
* __AS__ keyword - assigns a custom name to the columnar result of a concat function
    * `SELECT CONCAT(FirstName, ', ', City) AS <new_column> FROM customers;`
* Arithmetic Operators can be used with numeric fields
    * ` SELECT ID, FirstName, LastName, (Salary+500) AS Salary FROM employees;` adds 500 to each salary in the table

### Functions <a class="anchor" id="func"></a>

* UPPER() - converts all letters in the specified string to uppercase
* LOWER() - converts all letters in a string to lowercase
    * ` SELECT FirstName, UPPER(LastName) AS LasName FROM employees;`
* SQRT() - returns the square root of a given value in the argument
* AVG() - returns the average value of a numeric column
* SUM() - calculates the sum of a columns values
* ROUND() - rounds to 2 dec places
* COUNT) - returns a count of a provided column  
    * COUNT(*) - counts the number of rows produced by the query
    * `SELECT COUNT(*) FROM table_name WHERE condition GROUP BY col_name` returns a count of records where the condition is true grouped by a given column

### Subqueries <a class="anchor" id="subq"></a>

* Query within another query
    * ` SELECT FirstName, Salary FROM employees WHERE Salary > (SELECT AVG(Salary) FROM employees) ORDER BY Salary DESC;` produces a table with first name and salary for all individuals who have a salary greater than the calculated average salary

### LIKE and MIN <a class="anchor" id="like-min"></a>

* __Like__ specifies a search condition
    * Use with __pattern__
* SQL pattern matching enables you to use _ to match any single character and % to match an arbitrary number of characters, including 0  
    * ` SELECT * FROM employees WHERE FirstName LIKE 'A%';` returns any employees whose first name begins with A
* Min() - returns the minimum value of an expression in a SELECT statement
    * ` SELECT MIN(Salary) AS Salary FROM employees;`

## Table Operations <a class="anchor" id="join"></a>

### Creating a Table <a class="anchor" id="create"></a>

` CREATE TABLE table_name
(
column_name1 data_type(size),
column_name2 data_type(size),
etc..
PRIMARY KEY(column_name)
);`  
* Most common Data types:
    * Int, Float, Double
    * Data, Datetime, Timestamp, Time
    * Char(fixed length), Varchar(provide max length), BLOB, Text
* BLOB - Binary Large objects
* __Primary Key__ - Unique identifier for a record
    * UserID of some sort is the best PK to use 
    * Alternative to the above is to identify in the column name series:
    
` CREATE TABLE table_name
(
id INTEGER PRIMARY KEY,
column_name2 data_type(size),
column_name3 data_type(size),
etc..
);`

### NOT NULL and AUTO_INCREMENT <a class="anchor" id="null"></a>

* __Not Null__- A column cannot contain any NULL Value
* __UNIQUE__ -No duplicates allowed to be inserted
* __PRIMARY KEY__- Enforces the table to accept unique data for a speicfic column with a unique index
* __CHECK__- Determines whether the value is valid or not from a logical expression
* __DEFAULT__ - While inserting data into a table, if no value is supplied to a column, then it gets its value set as DEFAULT
* __Auto-Increment__ - Generates a uniwue number when a new record is inserted  
` UserID int NOT NULL AUTO_INCREMENT,
PRIMARY KEY(UserID)`

### The INSERT Statement <a class="anchor" id="insert"></a>

* INSERT INTO is used to add new rows of data to a table in the database  
`INSERT INTO table_name
VALUES (value1, value2,....);`  
* If no columns specified in the insert statement, must have the same number of values as columns. Else, you can specify column names with values in the same order   
`INSERT INTO table_name(column1, column2, column3...)
VALUES (value1, value2, value3...);`

### UPDATE and DELETE Statements <a class="anchor" id="upd-del"></a>

* UPDATE allows us to alter data in the table
    * You can add specific columns and values
    * If WHERE is omitted, it will replace ALL values in a column  
`UPDATE table_name
 SET column1=value1, column2=value2
 WHERE condition;`  
* DELETE is PERMANENT REMOVAL  
 ` DELETE FROM table_name
 WHERE condition;`

### Alter, Drop, Rename a table <a class="anchor" id="alt-drop"></a>

* __ALTER TABLE__ - add, delete, or modify columns in an existing table
    * ADD, DROP, RENAME _ TO _ , subcommands
    * DROP TABLE deletes an entire table
    * RENAME TABLE __ to __ gives the table a new title  
` ALTER TABLE students
  ADD specialty varchar(50)
  DROP DateofBirth
  RENAME TABLE students TO attendees;`

### Joining Tables <a class="anchor" id="join2"></a>

* Combine data from two or more tables, creating a temporary table showing the data from the joined table using a matching field  
* Use fully-qualified names to differentiate between the columns from each table
    * Custom names can be used for tables as well:  
    `SELECT ct.ID, ct.Name, ord.Name, ord.Amount 
    FROM customers AS ct, orders AS ord 
    WHERE ct.ID=ord.Customer_ID 
    ORDER BY ct.ID;`

### Types of Joins <a class="anchor" id="types"></a>

* __Inner Join__ - default JOIN. Returns ONLY the rows where there is a match
    * ` SELECT <column_name> FROM table1 INNER JOIN table2 ON table1.column_name=table2.column_name;`
* __Left Outer Join__ - returns all rows from the left table, even if there are no matches on the right table. May result in null cells. Outer keyword is optional
    * ` SELECT table.column1, table2.column2 FROM table1 LEFT OUTER JOIN table2 ON table1.column_name=table2.column_name`
* __Right Outer Join__ - Returns all rows from the right table, even if there are no matches in the left table. May result in Null cells. Outer keyword is optional
    * ` SELECT table1.column1, table2.column2 FROM table1 RIGHT OUTER JOIN table2 ON table1.column_name = table2.column_name;`
* __Full Outer Join__ - Returns all rows from both tables filling NULL as necessary

### Self Join <a class="anchor" id="self"></a>

* __SELF JOIN__ - join a table with itself to produce a result-set with information matched from the same table 
    * One (or both) of the tables need an alias in the FROM/JOIN statement to differentiate
    * Imagine a table 'students', with the following fields: 
        * id
        * first_name
        * last_name
        * email
        * phone
        * birthdate
        * buddy_id (id of a student's buddy from the same list)
     * We want a list that provides the name of a student and the email of their buddy  
     `SELECT students.first_name, student.last_name, buddies.email as buddy_email
     FROM students 
     JOIN students buddies 
     ON students.buddy_id = buddies.id;`

### Combining Joins <a class="anchor" id="types"></a>

* Imagine 3 tables
    * students - id, first_name, last_name, email, phone, birthdate
    * student_projects - id, student id, title
    * project_pairs - id, project1_id, project_2 id
* We want to see the titles of both projects in the same table  
`SELECT a.title, b.title FROM project_pairs as pp
JOIN student_projects as a
ON pp.project1_id = a.id
JOIN student_projects as b
ON pp.project2_id = b.id;`
* You can use as many joins as you want, but in general more joins = slower query

### UNION <a class="anchor" id="union"></a>

* Used in a case where you need to combine data from multiple tables into one comprehensive dataset
* __UNION__ combines multiple datasets into a single dataset and removes any existing duplicates
    * __UNION ALL__ keeps duplicate values
    * All SELECT statements in the Union must have the same number of columns, and columns must have the same data type  
` SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;`  
* If columns don't match exactly across all queries you can use a null value  
` SELECT FirstName, LastName, Company FROM businessContacts
UNION
SELECT FirstName, LastName, NULL FROM otherContacts`

### Views <a class="anchor" id="views"></a>

* View - virtual table based on the result-set of a SQL statement
    * Contains rows and columns, just like a table and the fields all exist in the real tables
* Allow us to structure data in a way that users find natural or intuitive, restrict access to data so that users can see or modify only what they need and no more, or summarize data from various tables for report generation
    * Views are always up to date  
` CREATE VIEW view_name AS
SELECT column_name(s)
FROM table_name
WHERE condition;`  

* Update a view by using CREATE OR REPLACE VIEW, Delete with DROP

## Query Planning and Optimization <a class="anchor" id="query"></a>

### How SQL Finds Data <a class="anchor" id="how"></a>

* SQL is a __declarative__ language - each query declares WHAT we want the SQL engine to do but doesn't define how
* __Full Table Scan__ - look at every single row in the table, return matching rows. O(n) time.
* __Create Index__ - Make a copy of the table sorted by the target match value, then do a binary search to find the matching ID's, then do a binary search on the original table that returns the rows that match the ID. O(n log n) time.
* Which method is faster depends on the data, but in general the index method will be faster for larger datasets

### The Lifecycle of a SQL Query <a class="anchor" id="cycle"></a>

1. __Parse__ - The query parser makes sure that the query is syntactically correct and semantically correct, and returns errors if not. If it's correct, the parser turns the query into an algebraic expression and passes it to the next step.  
2. __Optimize__ - The query planner and optimizer performs straightforward optimizations (improvements that always result in better performance, like simplifying expressions). It then 'considers' different query plans which may have different optimizations, estimates the cost (CPU and time) of each plan based on the number of relevant rows, then picks the optimal plan and passes it to the next step
3. __Execute__ - The query executor takes the plan and turns it into operations for the database, returning results if they exist.

### Query Tuning <a class="anchor" id="tune"></a>

* Query Tuning - Ways in which you can help optimize a query
1. Identify which queries need tuning based on cost or  some other factor
2. Understand how the SQL engine being used is executing a query. All SQL engines come with a way to 'ask' it what the plan is. It usually returns back something very technical
3. Manual optimization - often dependent on the specific engine being used as well as the dataset being queried. One potential action helpful in repeated queries - manually create an index

### Transactions and the ACID Principles <a class="anchor" id="acid"></a>

* ACID Principles - Rules for safe transactions
* Atomicity - Each transaction is treated as a single unit, ensuring that if for some reason one of the statements is unable to be issued, the database will remain in its original, pre-update form. This can be done by wrapping the  changes in "Transaction Statements":    
`BEGIN TRANSACTION;
UPDATE people SET husband = "Winston" WHERE user_id = 1;
UPDATE people SET wife = "Winnefer" WHERE user_ID = 2;
COMMIT;`  
* Consistency - Ensures that a transaction can only bring the database from one valid state to another by maintaining invariants and referential integrity
* Isolation - Concurrent execution of tranactions leaves the database in the same state that would have been obtained if the transactions were executed sequentially. For example, because the below insertion and update are a unit, they will be added as such rather than potentially being interrupted by another concurrent change to those same tables/values. 
    * Consider receiving 2 badges at the same time, SQL Master and Great Listener. Each time a badge is earned, a user_badges table is updated, and  the event is added to recent_activity. With no transaction wrapper, the 2 command sets may interrupt each other. In this case, it could happen in the order: 1. Insert SQL MASTER into user-badges, 2. Insert Great Listener into user_badges, 3. Update recent_activity to include Earned great listener badge, and 4. Update recent_activity with Earned SQL Master badge. This is not the end of the world, but now the recent_activity table is actually out of true order. This can be prevented by:  
`BEGIN TRANSACTION;
INSERT INTO user_badges VALUES (1, "SQL Master");
UPDATE user SET recent_activity = "Earned SQL Master badge"
WHERE id = 1;
COMMIT;`
* Durability - Once a transaction has been committed, it will remain committed even in the case of a system failure (non-volatile memory)

## Import Code <a class="anchor" id="code"></a>

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine('mysql_mysqlconnector:// user:alias@localhost:port/sqlalchemy', echo=True)
%load_ext sql
% sql mysql+mysqlconnector://user:alias@localhost:port/sqlalchemy
%% sql

# good to go :)